{% extends 'base.html' %}
{% block title %} About Us {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<div class="content my-2 p-4 d-flex flex-row flex-wrap ">
    <h3><p class="font-italic">"Impossible happens all the time, You just have to believe it can." </p></h3>

    <div class="col-md-9 p-4 bg-light">
        <h4>About Us</h4>
        <p> We are a team of Engineers, Management Graduates with diversified experience. We have taken it as a mission to provide accurate and authentic information to all our users focused in following category. </p>

        <div class="info p-4" style="background-color: white;">
            <ul>
                <li><a href="#" target="_blank"><h5> Latest Finance News</h5> </a> </li>We promise to deliver all finance news in a filtered way with accurate data, authentic links and with all Pros & Cons of the news on your Pocket. We all add a section at the bottom of each news with our Unbiased views.
                <hr>
                <li><a href="#" target="_blank"><h5>Latest Government Jobs Updates</h5> </a> </li> We provide details about latest Government Vacancies offered by Central Government & State Government with accurate information regarding exam dates, syllabus, eligibility, status, salary benefits, Form process and Results.
                <hr>
                <li><a href="#" target="_blank"><h5>Government Jobs Exam Preparation</h5> </a> </li>
                WE also provide free Pdf Books and Sources to our Subscribers to help them prepare for exams and Interviews.
                <hr>
                <li><a href="#" target="_blank"><h5>Investment Guide : Direct Stock & Mutual Funds</h5> </a> </li> Our focus is to share an Unbiased views with proper fundamental points to help you take right decision for your wealth creation in both Short & Long term.  <strong>  Happy Investing. <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>  </strong>
            </ul>

        </div>
    </div>

    <aside class="col-md-3 my-2">
        <div class="p-4">
          <h4>Important Links</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#" target="_blank">Startup & Business</a></li>
            <li><a href="#" target="_blank">Investment in Stock</a></li>
            <li><a href="#" target="_blank">Government Jobs 2020</a></li>
          </ol>
        </div>
    
        <div class="p-4">
          <h4>Follow Us</h4>
          <ol class="list-unstyled">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Telegram</a></li>
          </ol>
        </div>
    </aside>
    
</div>

{% endblock body %}
