{% extends 'base.html' %}
{% block title %} Stock of the Week {% endblock title %}

{% block body %}

Stock of the Week Page

    {% for StockOfTheWeek in allStockOfTheWeek %}
    <div class="container my-4 col-md-8">
        <h2 class="news-post-title"> {{StockOfTheWeek.title}} </h2>
        <p class="news-post-meta mb-1">Posted at : {{StockOfTheWeek.timeStamp}} | <strong
                class="d-inline-block mb-1 text-primary"> Sector: {{StockOfTheWeek.sector}} </strong> |
                <div class="fb-like" data-href="http://127.0.0.1:8000/news/{{StockOfTheWeek}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        <p class="my-2"> {{StockOfTheWeek.content|safe}} </p>
        <hr>
        <div class="fb-comments mx-auto" data-href="http://127.0.0.1:8000/news/{{StockOfTheWeek}}" data-numposts="5" data-width=""></div>
    </div>
    {% endfor %}


{% endblock body %}
