{% extends 'base.html' %}
{% block title %} {{trendpost.title}} {% endblock title %}
{% comment %} {% block contactactive %} active {% endblock contactactive %} {% endcomment %}

{% block body %}

<div class="container my-4 col-md-8">
        <h2 class="news-post-title"> {{trendpost.title}} </h2>
        <p class="news-post-meta mb-1">Posted at : {{trendpost.timeStamp}} | <strong
                class="d-inline-block mb-1 text-primary"> Source: {{trendpost.author}} </strong> |
                <div class="fb-like" data-href="http://127.0.0.1:8000/news/{{trendpost}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        <p class="my-2"> {{trendpost.content|safe}} </p>
        <hr>
        <div class="fb-comments mx-auto" data-href="http://127.0.0.1:8000/news/{{trendpost}}" data-numposts="5" data-width=""></div>
    </div>

{% endblock body %}

